body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white   ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo img{
    height: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.section {
    margin-bottom: 40px;
}
.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.section-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.tecnologias li{
    margin-bottom: 10px;
    
}
.tecnologias{
    background-color: #e2e8f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px #0c4a6e;
    
}
.about-us {
    background-color: #e2e8f0;
    padding: 20px;
    border-radius: 10px;
    top: 20px;
   
    margin-top: 20px;
    width: 420px;
    height: 200px;
    box-shadow: 20px 20px #0c4a6e;

    
}
.about-us p {
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    width: 420px;
    margin-top: 40px;
    text-align: left;

    
}
.caracteristicas{
    width: 500px;
    background-color: #ccfbf1;
    line-height: 1.6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 80px;
    display: flex;
    box-shadow: 20px 20px #2dd4bf;
}

.container2, .container1 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    float: inline-end;
    margin-right: 25px;
    margin-top: 40px;

}
.container1{
    margin-left: 50px;
}
                                     
.pad1{
    border-radius: 10px;
    margin-top: -340px;
    margin-right: 700px;
    
}
.pad2{
    
    border-radius: 10px;
    margin-top: 50px;
}
iframe{
    width: 620px;
    height: 340px;
    margin-left: 570px;
    margin-top: 50px;
    display: flex; 
    
}
.titulo h2{
    margin-left: 1%;
    height: 18px;
    width: 900px;
    margin-top: 90px;
}

.team-members img{
    border-radius: 10px;
    width: 250px;
    height: 250px;
}
.team-member1 img{
    background-color: #0c4a6e;
    float: left;
    padding-left: 10px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: -25px 70px 10px 30px;
}
.team-member1 h2{
    margin-left: 358px;
    margin-top: 30px;
}
.team-member1 p{
    line-height: 1.6;
}

.team-member1{
    margin-top: 25px;
    padding: 80px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #cbd5e1;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 30px 0px #0c4a6e;
}

.team-member2{
    margin-top: 80px;
    padding: 80px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #cbd5e1;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 30px 0px #0c4a6e;
}
.team-member2 p{
    line-height: 1.6;
}
.team-member2 img{
    background-color: #0c4a6e;
    float: right;
    padding-right: 10px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: -20px 10px 20px 0px;
    margin-left: 50px;
}
.team-member2 p, h4, li{
    margin-left: 10px;
}
.team-member2 h2{
    margin-top: 30px;
}
.team-member3{
    margin-top: 80px;
    padding: 80px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #cbd5e1;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 30px 0px #0c4a6e;
}
.team-member3 p{
    line-height: 1.6;
}
.team-member3 img{
    background-color: #0c4a6e;
    float: left;
    padding-left: 10px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: -10px 70px 10px 30px;
}
.team-member3 h2{
    margin-left: 358px;
    margin-top: 30px;
}
.team-member4{
    margin-top: 80px;
    padding: 80px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #cbd5e1;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 30px 0px #0c4a6e;
}
.team-member4 img{
    background-color: #0c4a6e;
    float: right;
    padding-right: 10px;
    border-radius: 10px;
    width: 250px;
    height: 320px;
    margin: -30px 10px 20px 0px;
    margin-left: 50px;
}
.team-member4 p{
    line-height: 1.6;
}
.team-member4 p, h4, li{
    margin-left: 10px;
}
.team-member4 h2{
    margin-top: 30px;
}
.team-member5{
    margin-top: 80px;
    padding: 80px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #cbd5e1;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 30px 0px #0c4a6e;
}
.team-member5 img{
    background-color: #0c4a6e;
    float: left;
    padding-left: 10px;
    border-radius: 10px;
    width: 250px;
    height: 280px;
    margin: -40px 70px 10px 30px;
}
.team-member5 h2{
    margin-left: 358px;
    margin-top: 30px;
}
.team-member5 p{
    line-height: 1.6;
}
.team-member6{
    margin-top: 80px;
    padding: 80px;
    padding-top: 30px;
    padding-left: 20px;
    background-color: #cbd5e1;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 20px 30px 0px #0c4a6e;
}
.team-member6 img{
    background-color: #0c4a6e;
    float: right;
    padding-right: 10px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: -20px 10px 20px 0px;
    margin-left: 50px; 
}
.team-member6 p, h4, li{
    margin-left: 10px;
}
.team-member6 p{
    line-height: 1.6;
}
.team-member6 h2{
    margin-top: 30px;
}
footer{
    display: flex; 
    padding: 2rem; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
    margin-top: 2rem; 
    flex-direction: column; 
    gap: 1.5rem; 
    align-items: center; 
    border-top-width: 1px; 
    width: 100%; 
}
.inicio{
    display: flex; 
    gap: 1.5rem; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 64rem; 
}
.position-logo{
    display: flex; 
    margin-top: 0.25rem; 
    flex-direction: column; 
    align-items: center; 
}
.size-logo{
    width: 320px;
}
.assets-img{
    display: flex; 
    gap: 1rem; 
    align-items: center; 
    opacity: 0.5; 

}
.rodape{
    display: flex; 
    gap: 1rem; 
    align-items: center; 
    opacity: 0.5; 
}
.slogan{
    margin-top: 0.25rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 300; 
    text-align: center; 
    color: #374151; 
}
.letrero{
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 300; 
    text-align: center; 
    color: #374151; 

}
